@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(../fonts/hqhm7bvc_nzztui2lzqtdacwcynf_cdxxwclxiixg1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/y_tkv6o8wovbud3m_x9aaa.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(../fonts/bh7276gfdcjmjapa_dkg6acwcynf_cdxxwclxiixg1c.ttf) format('truetype');
}
